* {
  box-sizing: border-box;
}

body,
html {
  @include antialias;
  margin: 0;
  font-family: sans-serif;
  font-size: $base-font-size;
}

body {
  background-color: $white;
  color: $black;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin: 0;
  padding: 1rem 0;
}
